@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Outfit:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  width: 53%;
  grid-template-columns: 1fr 1fr 1fr;
  border-radius: 1em;
}

.column {
  padding: 2em;
}

.column__title {
  font-family: "Big Shoulders Display";
  font-size: 30px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  margin: 1em 0;
}

.column__content {
  font-family: "Lexend Deca";
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 5em;
}

.column__button {
  font-family: "Lexend Deca";
  font-weight: 400;
  padding: 10px 30px;
  background-color: white;
  border-radius: 50px;
  width: fit-content;
  margin: 1em 0;
  font-size: 15px;
  margin-top: 6em;
}
